fastapi
uvicorn[standard]
supabase
python-multipart
easyocr
opencv-python-headless
pillow
asyncpg
python-jose[cryptography]
httpx
locust
pytest
pytest-asyncio
black
flake8
isort
pre-commit
pydantic-settings
python-dotenv
